body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

main {
    padding: 40px;
}

.search-container {
    text-align: center;
    margin-bottom: 30px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    padding: 9px 20px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border: 1px solid #4CAF50;
}

.faq {
    padding: 20px 0;
    text-align: center;
}

.faq h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.faq ul {
    list-style-type: none;
    padding-left: 0;
}

.faq ul li {
    margin-bottom: 10px;
}

.categories {
    padding: 20px 0;
    text-align: center;
}

.categories h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.categories ul {
    columns: 2; /* create two columns */
    list-style-type: none;
    padding-left: 0;
}

.categories ul li {
    margin-bottom: 10px;
}

.planes {
    text-align: center;
    margin-bottom: 30px;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}